/* To apply font styling to all the elements */
*{
  font-family: "Comic Sans MS";
}

body,
form,
p{
    margin: 0px;
    padding: 0px;
  }
/***************************************************************************/

/****** Heading For The List ********/
h1{
    text-align: center;
  }

h1 i{
    margin-right: 10px;
  }

/*****************************************************************************/

/************** To-Do List Box ********************/

.to-do-container{
    height: auto;
    margin: 0px auto;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
  }

/**************** Input Section ***************/

.input-container {
      border: solid 1px #757070;
      position: relative;
    }
    
.input-container:nth-child(2){
    border-top: none;
    display: flex;
  }

.input-container input {
      border: none;
      font-size: 13px;
        outline: 0;
      width: 100%;
        padding: 18px 15px 10px;
        background-color: transparent;
    }

.input-container select, input[type="date"] {
      border: none;
      font-size: 14px;
      outline: 0;
      width: 100%;
      height: 100%;
      padding: 18px 10px 10px;
      cursor: pointer;
      background-color: transparent;
  }

input:focus , select:focus {
      transition: 0.4s;
      background-color: rgb(186, 195, 197);
  }

.input-container label {
          position: absolute;
        font-size: 13px;
        left: 14px;
        color: #4e4d4d;
        font-weight: 550;
    }
  
.due-date label{
    left: 51.5%;
  }

.category, .due-date{
    width:50%;
    border: none;
  }

.category{
    border-right: 1px solid#757070;
  }

/*********************************************************************************/

/************ Button Section *****************/

.btn-container{
    margin: 10px auto;
    display: flex;
    justify-content: center;
    height: auto;
  }

button{
    display: flex;
    align-items: center;
    width: 150px;
    font-family: "Comic Sans MS";
    margin: 10px 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }

.del-btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 5px;
    width: 160px;
    margin: 10px 8px;
    color: white;
  }

.btn-container i{
    font-weight: 700;
    font-size: 17px;
    margin: 0px 10px;
    margin-right: 12px;
  }

.del-btn i{
    margin-right: 7px;
    color: rgb(253, 241, 241);
  }

.del-btn a{
    text-decoration: none;
    color: white;
  }

button:nth-child(1){
    background-color: #333131;
  }

.del-btn{
    background-color: #e41313;
  }

button:nth-child(1):hover{
    background-color: #1d1c1c;
  }

.del-btn:hover{
    background-color: #c30c0c;
  }

/***********************************************************************************/

/************** Task(s) Show Section ****************/

.task-container{
    margin: auto;
     margin-bottom: 15px;
     display: flex;
     flex-direction: column;
     width: 95%;
  }

.task-items{
    position: relative;
    display: flex;
    align-items: center;
    border-top: 1px solid #757070;
    padding: 5px;
    min-height: 50px;
  }

.task{
    margin-left: 20px;
    width: 70%;
    margin-bottom: 3px;
  }

.task p:nth-child(1){
    font-size: 16px;
    color: #4e4d4d;
    font-weight: 550;
    margin-top: 2px;
  }

.task p:nth-child(2){
    font-size: 11px;
    margin-top: 3px;
    color: #656262;
  }

.task i {
    margin-right: 4px;
    font-size: 14px;
  }

.task-type{
    position: absolute;
    display: flex;
    right: 2%;
    color: white;
    font-size: 13px;
    width: 70px;
    height: 30%;
    justify-content: center;
    align-items: center;
    padding: 1.5% 1.5%;
  }

/* To strike the content of selected checkbox */
input[type=checkbox]:checked + .task > p{
    text-decoration: line-through;
  }

/***********************************************************************************/
